.profile-menu li a {
    color: #F5F7FF;
    font-family: 'Inter-Regular', sans-serif;
    font-size: 16px;
    line-height: 24px;
    padding-left: 10px;
}

.profile-menu {
    margin-bottom: 20px;
}

.left-profile-menu h5 a {
    padding-left: 10px;
}

.header-profile {
    padding: 20px;
    background-color: #353B53;
    border-radius: 5px;
    margin-bottom: 20px;
    flex-direction: column;
    flex-wrap: wrap;
}

.bottom-profile, .profile-logout-mobile {
    display: none;
}

.top-profile, .header-profile, .profile-info, .left-profile-menu h5, .profile-menu li {
    display: flex;
}

.profile-info {
    flex-direction: column;
    flex-wrap: wrap;
    padding-left: 20px;
}

.pfi-username {
    font-family: 'Inter-Medium', sans-serif;
    font-size: 32px;
    line-height: 39px;
    color: #FFFFFF;
}

.pfi-email {
    font-family: 'Inter-Regular', sans-serif;
    font-size: 12px;
    line-height: 16px;
    color: #8D92A4;
    padding: 14px 0;
}

.profile-logout {
    margin-left: auto;
}

.profile-logout-b {
    padding: 12px 40px;
}

.pfi-description {
    font-family: 'Inter-Regular', sans-serif;
    font-size: 14px;
    line-height: 17px;
    color: #F5F7FF;
}

.profile-img {
    max-width: 140px;
    max-height: 116px;
    width: 140px;
    height: 116px;
}
.profile-img img{
    width:100%;
    height: 100%;
}

.profile-menu li a:hover {
    color: #9772FF;
}

.profile-menu li {
    padding-bottom: 20px;
}

.profile-right-content {
    padding: 20px;
    background: #353B53;
}

.create-history .ck-editor__main .ck-content {
    background: #1E2133 !important;
    border: none;
    height: 350px;
    border-radius: 5px !important;
    max-height: 350px;
}

.create-history .ck-button {
    color: #9772FF !important;
}

.create-history .ck-toolbar {
    background: #1E2133 !important;
    margin-bottom: 20px !important;
    border: none !important;
    border-radius: 5px !important;
}

.pf-b-logout {
    border: none;
    padding: 0;
}

.profile-logout-mobile img {
    width: 30px;
}

.pf-b-logout:hover {
    background: unset;
}

.profile-right-content .file-preview {
    height: 160px;
    width: 160px;
    border: none;
}

.file-drop-zone.clickable:hover {
    border: 1px dashed #999 !important;
}

.profile-right-content .file-drop-zone {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    border: 1px dashed #9772FF !important;
    min-height: unset;
}

.file-thumbnail-footer, .fileinput-remove, .file-drop-zone-title {
    display: none;
}

.kv-file-content {
    height: 140px !important;
    width: 140px !important;
}

.kv-file-content img {
    height: 100% !important;
}

.file-preview-frame {
    margin: 0 !important;
    padding: 0 !important;
}

.change-password-click, .change-info-click {
    cursor: pointer;
}

.change-password {
    display: none;
}

.change-click {
    display: flex;
    justify-content: space-around;
    background: #1E2133;
    padding: 20px 0;
    text-align: center;
}

.change-click .active {
    color: #9772FF;
}
.file-drop-zone .file-preview-thumbnails{
    cursor: pointer !important;
}

.text-success{
    display: none;
}

@media (max-width: 991px) {
    .bottom-profile {
        display: flex;
        padding-top: 20px;
    }

    .pfi-pc {
        display: none;
    }
}

@media (max-width: 550px) {
    .profile-logout-mobile {
        display: block;
    }

    .profile-logout-pc {
        display: none;
    }
}

@media (max-width: 500px) {
    .profile-info {
        margin-top: auto;
    }

    .pfi-email {
        padding-bottom: 0;
    }
}

@media (max-width: 480px) {
    .profile-img{
        max-width: 116px;
        max-height: 116px;
        width: 116px;
        height: 116px;
    }
    .pfi-username {
        font-size: 22px;
    }
}